<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_5_ocak_2023_çalışma2.Properties.Settings.Nazi_kampı_kayıtConnectionString"
            connectionString="Data Source=halil\SQLEXPRESS;Initial Catalog=&quot;Nazi kampı kayıt&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_5_ocak_2023_çalışma2.Properties.Settings.CenazeVeriTabanıConnectionString"
            connectionString="Data Source=HALIL\SQLEXPRESS;Initial Catalog=CenazeVeriTabanı;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>